body{
    background-color: #dddddd;
    margin: 0;
}
/*-------- Navigation bar started ------
---------- */
header{
    background-color: #562eff;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:  25px 70px ;
}
span>a>img{
    width: 45px;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li a{
    margin-left: 45px;
    text-decoration: none;
    color: whitesmoke;
}
/*-------- Navigation bar ended------
---------- */
hr{
    margin: 0 auto;
    width: 85%;
    height: 2px;
}

/*-------- Player Section started------
---------- */
.topplayer{
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 4px;
    width: 90%;
}
.playersection{
    padding: 30px;
}
h2{
    color: blue;
    margin-top: 6px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.player>img{
    width: 50%;
}
/*-------- Player Section Ended------
---------- */

/*-------- Blog Section started------
---------- */

.blogsection{
    padding: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blog>img{
    width: 55%;
}
p>span{
    color: blueviolet;
}

/*-------- course Section Ended------
---------- */

.coursesection{
    padding: 30px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;   
}
.course{
    background-color: #f6f5f5;
    padding: 20px;
    border-radius: 10px;
}
.course>img{
    width: 100%;
}
h4{
    color: red;
}
.rating-time{
    display: flex;
    justify-content: space-between;
}
.rating{
    color: gray;
}
.fa-star{
    color: rgb(255, 157, 0);
}
.blank{
    color: gray;
}
.half-stroke{
    color: gray;
}
.time{
    background-color: #ffe4e8;
    margin-left: 2px;
    border-radius: 30px;
    padding: 0px 30px;
}
.clock{
    color: red;
}
/*-------- course Section Ended------
---------- */

