body{
    background-color: #dddddd;
    margin: 0;
}
/*-------- Navigation bar started ------
---------- */
header{
    background-color: #562eff;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:  25px 70px ;
}
span>a>img{
    width: 45px;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li a{
    margin-left: 45px;
    text-decoration: none;
    color: whitesmoke;
}
/*-------- Navigation bar ended------
---------- */


/*-------- Player Section started------
---------- */
.topplayer{
    margin: 0 auto;
    background-color: #ffffff;
    width: 90%;
}
.playersection{
    padding: 30px;
}
h2{
    color: blue;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.player>img{
    width: 40%;
}

/*-------- Player Section Ended------
---------- */
